<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.rentcar_project.dao.CarModelDao">
	
	<!-- <select id="selectCarModelWithCarOptionByCode" parameterType="CarModel" resultType="CarModel">
		SELECT m.car_code, m.name, color, gear, brand, cartype, basic_charge, hour6, hour10, hour12, hour_else, fuel_code as fuel, is_rent, rent_cnt, option_id,co.no ,co.name, co.price
		FROM car_model m join add_option ao on m.car_code=ao.car_code join car_option co on ao.option_id = co.no
		where m.car_code=#{carCode}
	</select>
	
	<select id="selectCarModelWithCarOptionByAll" resultType="CarModel">
		SELECT m.car_code, m.name, color, gear, brand, cartype, basic_charge, hour6, hour10, hour12, hour_else, fuel_code as fuel, is_rent, rent_cnt, option_id,co.no ,co.name, co.price
		FROM car_model m join add_option ao on m.car_code=ao.car_code join car_option co on ao.option_id = co.no;
	</select>-->
	

	<select id="selectCarModelByNo" parameterType="CarModel" resultType="CarModel">
		SELECT car_code, name, color, gear, brand, cartype, basic_charge, hour6, hour10, hour12, hour_else, fuel_code as fuel, is_rent, rent_cnt
		FROM car_model
		where car_code=#{car_code};
	</select>
	
	<resultMap type="CarModel" id="resultCarModel">
	<id column="car_code" property="car_code"/>
		<result column="brand" property="brand.no"/>
		<result column="bName" property="brand.name"/>
		<result column="fuel_code" property="fuel_code.code"/>
		<result column="cartype" property="carType.code"/>
		<result column="tType" property="carType.type"/>
		<result column="car_code" property="car_code"/>
		<result column="name" property="name"/>
		<result column="color" property="color"/>
		<result column="gear" property="gear"/>
		<result column="basic_charge" property="basic_charge"/>
		<result column="hour6" property="hour6"/>
		<result column="hour10" property="hour10"/>
		<result column="hour12" property="hour12"/>
		<result column="hour_else" property="hour_else"/>
		<result column="is_rent" property="is_rent"/>
		<result column="rent_cnt" property="rent_cnt"/>
	</resultMap>
	
	<select id="selectCarModelByAll" resultType="CarModel" resultMap="resultCarModel">
		SELECT car_code, m.name, color, gear, brand, b.name as bName , cartype, basic_charge, hour6, hour10, hour12, hour_else, fuel_code, is_rent, rent_cnt, t.type as tType
		FROM car_model m join brand b on m.brand = b.no join car_type t on m.cartype = t.code order by car_code;
	</select>
	
	<insert id="insertCarModel" parameterType="CarModel">
		INSERT INTO car_model
		(car_code, name, color, gear, brand, cartype, basic_charge, hour6, hour10, hour12, hour_else, fuel_code, is_rent, rent_cnt)
		VALUES(#{car_code}, #{name}, #{color}, #{gear},#{brand.no}, #{carType.code}, #{basic_charge}, #{hour6}, #{hour10}, #{hour12}, #{hour_else}, #{fuel_code.code}, #{is_rent}, #{rent_cnt});
	</insert>
	
	<update id="updateCarModel" parameterType="CarModel">
		UPDATE car_model
		SET name=#{name}, color=#{color}, gear=#{gear}, brand=#{brand.no}, cartype=#{carType.code}, basic_charge=#{basic_charge}, hour6=#{hour6}, hour10=#{hour10}, hour12=#{hour12}, hour_else=#{hour_else}, fuel_code=#{fuel_code.code}, is_rent=#{is_rent}, rent_cnt=#{rent_cnt}
		WHERE car_code=#{car_code};
	</update>
	
	<delete id="deleteCarModel" parameterType="CarModel">
		DELETE FROM car_model
		WHERE car_code=#{car_code};
	</delete>
	
	<resultMap type="CarModel" id="ResultCarModel">
		<id column="carName" property="name"/>
		<result column="car_code" property="car_code" />
		<result column="color" property="color"/>
		<result column="gear" property="gear"/>
		<result column="cartype" property="carType.code"/>
		<result column="brandName" property="brand.name"/>
		<result column="basic_charge" property="basic_charge"/>
		<result column="fuel_code" property="fuel_code.code"/>
		<!-- <collection property="carOption" resultMap="kr.or.yi.java_web_female.dao.CarOptionMapper.ResultCarOption"/> -->
	</resultMap>
	<select id="selectCarModelByCarType" parameterType="CarType" resultMap="ResultCarModel">
		select car_code, cm.name as carName, color, gear, b.name as brandName, cartype, basic_charge, fuel_code
		from car_model cm join brand b on cm.brand = b.no
		where cartype = #{code} and is_rent=0;
	</select>
	
	<!-- 차량관리 where 조건절 select -->
	<sql id="selectSql">
		SELECT car_code, m.name, color, gear, brand, b.name as bName , cartype, basic_charge, hour6, hour10, hour12, hour_else, fuel_code, is_rent, rent_cnt, t.type as tType
		FROM car_model m join brand b on m.brand = b.no join car_type t on m.cartype = t.code
	</sql>
	
	<sql id="whereSql">
		<where>
			<if test="cartype!=null">
				cartype=#{cartype}
			</if>
			<if test="brand!=null">
				AND brand=#{brand}
			</if>
			<if test="fuel!=null">
				AND fuel_code=#{fuel_code}
			</if>
			<if test="gear!=null">
				AND gear=#{gear}
			</if>
		</where>
	</sql>
	
	<select id="SelectCarModelWithWhere" parameterType="map" resultMap="resultCarModel">
		<include refid="selectSql"/>
		<include refid="whereSql"/>
	</select>
	
	<select id="nextCarCode" resultType="String">
		select max(car_code) nextto from car_model
	</select>
	
	<!-- 차종별 카운트 select문 -->
	<select id="selectCountByCarType" resultType="CarModel">
		select cartype, count(*) as count
		from car_type t left join car_model m on t.code = m.cartype
		group by cartype
	</select>
	
	<!-- rent -->
	<select id="selectCarModel" resultType="CarModel">
		select car_code, name from car_model;
	</select>

</mapper>















