<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.yi.rentcar_project.dao.CustomEventMapper">
	<insert id="insertCustomEvent" parameterType="CustomEvent">
		insert into
		custom_event(event_code, custom_code, is_use)
		values(#{eventCode},
		#{customCode}, #{isUse})
	</insert>

	<resultMap type="CustomEvent" id="resultCustomEvent">
		<result column="event_code" property="eventCode" />
		<result column="custom_code" property="customCode" />
		<result column="is_use" property="isUse" />
		<collection property="events"
			resultMap="kr.or.yi.java_web_female.dao.EventMapper.resultEvent" />
	</resultMap>

	<select id="selectCustomEventByCustomCode"
		resultMap="resultCustomEvent">
		select event_code, custom_code, is_use, code, name, rate
		from custom_event ce join event e on ce.event_code = e.code
		where
		custom_code=#{customCode};
	</select>

	<delete id="deleteCustomEvent" parameterType="CustomEvent">
		delete from custom_event
		where custom_code=#{customCode};
	</delete>

</mapper>