<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.rentcar_project.dao.CustomerDao">
	<resultMap type="Customer" id="ResultCustom">
		<id column="code" property="code" />
		<result column="Id" property="id" />
		<result column="passwd" property="passwd" />
		<result column="Name" property="name" />
		<result column="zip_code" property="zipCode" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="dob" property="dob" />
		<result column="email" property="email" />
		<result column="emp_code" property="empCode.code" />
		<result column="license" property="license" />
		<result column="grade_code" property="gradeCode.code" />
		<result column="gname" property="gradeCode.name" />
		<result column="gRate" property="gradeCode.rate" />
		<result column="rent_cnt" property="rentCnt" />
	</resultMap>

	<select id="selectCustomerByName" parameterType="Customer" resultType="Customer">
		select code, Id, passwd, Name, zip_code ,address, phone, dob, email, emp_code, license, grade_code, rent_cnt
		from customer
		where name = #{name}
	</select>

	<resultMap type="Customer" id="ResultCustomExtend" 	extends="ResultCustom">
		<collection property="events" resultMap="kr.or.yi.java_web_female.dao.CustomEventMapper.resultCustomEvent" />
	</resultMap>

	<select id="selectCustomerByPw" resultType="Customer">
		select code, Id, Name, zip_code, address, phone, dob, email, emp_code, license,	grade_code, rent_cnt
		from customer
		where Id = #{id} and passwd = password(#{passwd});
	</select>

	<select id="selectCustomerByCode" parameterType="Customer"	resultMap="ResultCustomExtend">
		select c.code, Id, passwd, c.Name, zip_code ,address, phone,dob, email, emp_code, license,  rent_cnt, event_code,
				custom_code, is_use, e.name as eName, e.rate as eRate, e.code as eCode, g.rate as gRate , grade_code, g.name gName
		from customer c join custom_event ce on c.code = ce.custom_code join event e on ce.event_code = e.code join grade g on c.grade_code = g.code
		where c.code = #{code};
	</select>

	<select id="selectCustomerByAll" resultMap="ResultCustomExtend">
		select c.code, Id, passwd, c.Name, zip_code ,address, phone,dob, email, emp_code, license,  rent_cnt, event_code,
				custom_code, is_use, e.name as eName, e.rate as eRate, e.code as eCode, g.rate as gRate , grade_code, g.name gName
		from customer c left join custom_event ce on c.code = ce.custom_code left join event e on ce.event_code = e.code left join grade g on c.grade_code = g.code
		where c.code !='C000' 
		order by c.code;
	</select>

	<select id="selectCustomerById" resultMap="ResultCustom">
		select code, Id, password(#{passwd}), Name, zip_code ,address, phone, dob, email, emp_code, license, grade_code, rent_cnt
		from customer
		where Id = #{id}
	</select>

	<insert id="insertCustomer" parameterType="Customer">
		insert into customer(code, Id, passwd, Name, zip_code, address, phone, dob, email, emp_code, license, grade_code, rent_cnt )
		values(#{code}, #{id}, password(#{passwd}), #{name}, #{zipCode} ,#{address}, #{phone},
		       #{dob}, #{email},#{empCode.code}, #{license}, #{gradeCode.code},	#{rentCnt})
	</insert>

	<select id="nextCustomerCode" resultType="java.lang.Integer">
		select count(*)+1 from
		customer;
	</select>
	
	<select id="nextCode" resultType="int">
		select count(*)+1 from
		customer;
	</select>

	<!-- update -->
	<update id="updateCustomer" parameterType="Customer">
		update customer
		set
		Id=#{id}, passwd=password(#{passwd}), Name=#{name},
		address=#{address}, zip_code=#{zipCode},
		phone=#{phone}, dob=#{dob},
		email=#{email}, emp_code=#{empCode.code}, license=#{license},
		grade_code=#{gradeCode.code},
		rent_cnt=#{rentCnt}
		where Id = #{id}
	</update>


	<!-- delete -->
<!-- 
	<delete id="deleteCustomer" parameterType="Customer">
		delete from customer where code=#{code}
	</delete> -->

	<resultMap type="Customer" id="Result">
		<result column="id" property="id" />
	</resultMap>

	<select id="searchId" parameterType="Customer" resultType="Customer">
		SELECT Id as id
		FROM proj_rentcar.customer
		where name = #{name}
		and email =	#{email}
	</select>
</mapper>