<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.rentcar_project.dao.GradeDao">

	<!-- selectGradeByNo -->
	<select id="selectGradeByNo" parameterType="Grade" resultType="Grade">
		select code, name, g_losal, g_hisal, rate 
		from grade
		where code=#{code}
	</select>

	<select id="selectGradeByName" resultType="Grade">
		select code, name, g_losal, g_hisal, rate 
		from grade
		where name=#{name}
	</select>

	<!-- selectGradeByAll -->
	<select id="selectGradeByAll" resultType="Grade">
		select code, name, g_losal, g_hisal, rate 
		from grade
	</select>

	<!-- insert -->
	<insert id="insertGrade" parameterType="Grade">
		insert into grade(code, name, g_losal, g_hisal, rate)
		values(#{code},	#{name}, #{gLosal}, #{gHisal}, #{rate})
	</insert>

	<!-- update -->
	 <update id="updateGrade" parameterType="Grade">
		update grade 
		set code=#{code}, name=#{name}, g_losal=#{gLosal}, g_hisal=#{gHisal}, rate=#{rate}
		where code=#{code}
	</update>
	
	<!-- delete -->
	<delete id="deleteGrade" parameterType="Grade">
		delete from grade
		where code=#{code}
	</delete>
</mapper>