<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.rentcar_project.dao.RentDao">
	<!-- 조건에 소형 입력해서 소형에 해당하는 차량들의 이름, 브랜드, 연료종류 가지고오기 -->
	<resultMap type="CarModel" id="resultCarModel">
		<id column="carCode" property="car_code" />
		<result column="carName" property="name" />
		<result column="fuel" property="fuel_code.code"/>
		<result column="brandName" property="brand.name"/>
		<result column="ct.`type`" property="cartype.type"/>
		<result column="basic" property="basic_charge"/>
	</resultMap>
	
	<select id="selectByCarType" resultMap="resultCarModel">
		select cm.car_code as carCode, cm.name as carName, cm.fuel_code as fuel, b.name as brandName, cm.basic_charge as basic, cm.is_rent 
		from car_type ct join car_model cm
		on ct.code = cm.cartype join brand b on cm.brand = b.no
		where ct.`type` = #{carType};
	</select>
	
	<!-- 고객 아이디 검색해서 id에 해당하는 고객 정보 가지고오기 -->
	<resultMap type="Customer" id="resultCustomer">
		<id column="customerCode" property="code" />
		<result column="id" property="Id" />
		<result column="customerName" property="name" />
		<result column="zipCode" property="zipCode" />
		<result column="address" property="address" />
		<result column="phone" property="phone" />
		<result column="email" property="email" />
		<result column="gradeCode" property="gradeCode.code" />
		<result column="license" property="license" />
		<result column="rent_cnt" property="rentCnt" />
		<result column="gradeName" property="gradeCode.name" />
		<result column="gradeRate" property="gradeCode.rate" />
	</resultMap>
	
	<resultMap type="Customer" id="ResultCustomExtend" extends="resultCustomer">
		<collection property="events" resultMap="com.yi.rentcar_project.dao.CustomEventDao.resultCustomEvent" />
	</resultMap>
	
	<select id="selectById" resultMap="ResultCustomExtend" resultType="Customer">
		select c.code as customerCode, id, c.name as customerName, zip_code as zipCode, address, phone, email, grade_code as gradeCode, license, rent_cnt, ce.event_code, e.name as eName, e.rate as eRate, g.name as gradeName, g.rate as gradeRate
		from customer c join custom_event ce on c.code = ce.custom_code left join event e on ce.event_code = e.code join grade g on c.grade_code = g.code
		where id = #{id};
	</select>
	
	<!-- 보험 -->	
	<resultMap type="Insurance" id="resultInsurance">
		<id column="iCode" property="code" />
		<result column="ctCode" property="car_type.code" />
		<result column="price" property="price" />
		<result column="carType" property="car_type.type" />
	</resultMap>
	
	<select id="selectInsuranceByCarType" resultMap="resultInsurance">
		select i.code as iCode, i.car_type as ctCode, price, ct.type as carType
		from insurance i join car_type ct on i.car_type = ct.code
		where ct.type = #{carType};
	</select>
	
	<!-- rent -->
	<insert id="insert">
		insert into rent values (#{code}, #{start_date}, #{start_time}, #{end_date}, #{end_time}, #{is_return}, #{basic_price}, #{car_code.car_code}, #{customer_code.code}, #{insurance_code.code}, #{e_code}, #{opt_price})
	</insert>
	
	<!-- 고객별 대여내역 조회 -->
	<resultMap type="Rent" id="cstmRent">
		<id column="rentCode" property="code" />
		<result column="start_date" property="start_date"/>
		<result column="start_time" property="start_time" />
		<result column="end_date" property="end_date" />
		<result column="end_time" property="end_time" />
		<result column="carType" property="car_code.cartype.type" />
		<result column="brandName" property="car_code.brand.name" />
		<result column="carName" property="car_code.name" />
		<result column="customerCode" property="customer_code.code" />
		<result column="car_code" property="car_code.car_code"/>
		<result column="insurance_code" property="insurance_code.code"/>
		<result column="opt_price" property="opt_price"/>
		<result column="Id" property="customer_code.Id"/>
	</resultMap>
	
	<select id="selectRentAllByCustomerCode" resultMap="cstmRent">
		select r.code as rentCode, start_date, start_time, end_date, end_time, ct.`type` as carType, b.name as brandName, cm.name as carName
		from rent r join car_model cm on r.car_code = cm.car_code
		join car_type ct on cm.cartype = ct.code
		join brand b on cm.brand = b.no
		where customer_code = #{customerCode} order by start_date;
	</select>
	
	<!-- 날짜로 검색 -->
	<select id="getRentList" resultMap="cstmRent">
		select r.code as rentCode, start_date, start_time, end_date, end_time, ct.`type` as carType, b.name as brandName, cm.name as carName
		from rent r join car_model cm on r.car_code = cm.car_code
		join car_type ct on cm.cartype = ct.code
		join brand b on cm.brand = b.no
		join customer c on r.customer_code = c.code
		where start_date &gt;= #{chk_start_date} and end_date &lt;= #{chk_end_date} and Id = #{chk_id} order by start_date;
	</select>
	
	
	<!-- 고객 id 검색해서 고객 코드 가지고 오기 -->
	<select id="getCustomercodeById" resultType="Customer">
		select code from customer where id = #{Id};
	</select>
	
	
	<!-- rent테이블에 있는 코드 검색해서 렌트 정보 가져오기 -->
	<resultMap type="Rent" id="resultRent">
		<id column="code" property="code" />
		<result column="start_date" property="start_date"/>
		<result column="start_time" property="start_time"/>
		<result column="end_date" property="end_date"/>
		<result column="end_time" property="end_time"/>
		<result column="car_code" property="car_code.car_code"/>
		<result column="insurance_code" property="insurance_code.code"/>
		<result column="opt_price" property="opt_price"/>
	</resultMap>
	
	<select id="getRentInfoByRentCode" resultMap="resultRent">
		select code, start_date, start_time, end_date, end_time, car_code, insurance_code, opt_price
		from rent
		where code = #{code};
	</select>
	
<!-- 	<select id="getRentList" resultMap="resultRent">
		select code, start_date, start_time, end_date, end_time, car_code, insurance_code, opt_price 
		from rent 
		where start_date &gt;= #{start_date} and end_date &lt;= #{end_date}
	</select> -->
	
	<!-- 모든 대여 -->
	<resultMap type="Rent" id="resultRentAll">
		<id column="code" property="code" />
		<result column="start_date" property="start_date"/>
		<result column="start_time" property="start_time"/>
		<result column="end_date" property="end_date"/>
		<result column="end_time" property="end_time"/>
		<result column="is_return" property="is_return" javaType="java.lang.Boolean"/>
		<result column="basic_price" property="basic_price"/>
		<result column="car_code" property="car_code.car_code"/> 
		<result column="customer_code" property="customer_code.code"/>
		<result column="insurance_code" property="insurance_code.code"/>
		<result column="e_code" property="e_code" />
		<result column="opt_price" property="opt_price" />
		<result column="customer_name" property="customer_code.name" />
		<result column="car_name" property="car_code.name" />
		<result column="car_type" property="car_code.cartype.type" />
		<result column="gradeName" property="customer_code.gradeCode.name"/>
	</resultMap>
	
	<!-- 반납되지 않은 차량 -->
	<select id="getIsReturnFalse" resultMap="resultRentAll">
		<include refid="selectSql" />
		where r.is_return = false;
	</select>
	
	<!-- 반납된 차량 -->
	<select id="getIsReturnTrue" resultMap="resultRentAll">
		<include refid="selectSql" />
		where r.is_return = true;
	</select>
	
	<select id="selectRentByAll" resultMap="resultRentAll">
		select code, start_date, start_time, end_date, end_time, is_return, basic_price, car_code, customer_code, insurance_code, e_code, opt_price
		from rent;
	</select>
	
	<!-- 대여관리 상세정보 -->
	<sql id="selectSql">
		select r.code, start_date, start_time, end_date, end_time, is_return, basic_price, r.car_code, customer_code, insurance_code, e_code, opt_price, cm.name, c.name, ct.type
		from rent r join car_model cm on r.car_code = cm.car_code join customer c on r.customer_code = c.code join car_type ct on cm.cartype = ct.code
	</sql>
	
	<select id="selectInfoRentByAll"  resultMap="resultRentAll">
		select r.code, start_date, start_time, end_date, end_time, is_return, basic_price, r.car_code, customer_code, insurance_code, e_code, opt_price, cm.name as car_name, c.name as customer_name, ct.type as car_type, g.name as gradeName
		from rent r join car_model cm on r.car_code = cm.car_code join customer c on r.customer_code = c.code join car_type ct on cm.cartype = ct.code join grade g on c.grade_code = g.code
		where r.code = #{code};
	</select>
	<!-- 끝 -->
	
	<select id="selectRentByAllWithDate" resultMap="resultRentAll">
		select code, start_date, start_time, end_date, end_time, is_return, basic_price, car_code, customer_code, insurance_code, e_code, opt_price
		from rent
		where start_date &gt;= #{chk_start_date} and  end_date &lt;= #{chk_end_date} order by start_date;
	</select>
	
	<!-- 초과금액 계산 -->
	<select id="selectRentHours" resultType="RentHour" parameterType="map">
		select hour6, hour10, hour12, hour_else as hourElse, basic_charge as basicCharge, timestampdiff(hour, concat(end_date, ' ', end_time), now()) as overHour
		from rent r join car_model cm on r.car_code = cm.car_code 
		where cm.car_code = #{carCode} and r.code = #{rCode};
	</select>
</mapper>