<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yi.rentcar_project.dao.RentDao">
	<!-- 추가하기 -->
	<insert id="insert" parameterType="Rent">
		insert into rent 
		values (#{code}, #{start_date}, #{start_time}, #{end_date}, #{end_time}, #{is_return}, #{basic_price}, #{car_code.carCode}, #{customer_code.code}, #{insurance_code.code}, #{e_code}, #{opt_price})
	</insert>
	
</mapper>