@CHARSET "UTF-8";
	*{
		margin:0;
		padding: 0;
	}
	#container{
		width:1200px;
		margin:0 auto;
	}
	header{
		height: 100px;
		width:1200px;
		border:1px black solid;
	}
	section{
		width:1180px;
		border:1px black solid;
		padding:10px;
		overflow: hidden;
	}
	footer{
		width:100%;
		background-color: gray;
		height: 120px;
		clear:both;
	}
	#wrap_wrap{
		width:500px;
		margin: 145px auto;
	}
	#wrap_wrap h1{
		text-align: center;
	}
	.wrap{
		width:500px;
		height:350px; 
		margin:0 auto;
		border:1px solid black;
		position: relative; 
	}
	.list_p{
		height: 40px;
		width:500px;
		line-height:40px;
		overflow: hidden;
		position: relative;
	}
	.list_p img{
		width:25px;
	}
	.list_p span{
		float: left;
		width:80px;
		text-align: center;
	}
	.wrap .btnAdd{
		text-decoration: none;
		text-align: right;
		position: absolute;
		bottom: 20px;
		left: 225px;
	}
	.wrap .btn_span{
		width:130px; 
		position: absolute;
		right: 10px;
		top:0;
	}
	.wrap .btn_span a{
		text-decoration: none;
		color:gray;
	}