@CHARSET "UTF-8";

	/* carread& carreadcustomer 공통 css*/
@media all and (min-width:768px){
	#read_wrap{
		width:800px;
		height: 400px;
		margin: 120px auto;
		position: relative;
	}
	#read_wrap > h1{
		position: absolute;
		left: 30px;
		top:45px;
		color:gray;
	}
	#read_wrap img{
		width:350px;
		position: absolute;
		left: 20px;
		top:100px;
	}
	#info_wrap{
		width:320px;
		height: 260px;
		position:absolute;
		right:50px;
		top:30px;
		padding: 10px;
		font-size: 14px;
	}
	#info_wrap table{
		border-collapse: collapse;
		width:320px;
		background-color: #3A3A3A;
		color:white;
	}
	#info_wrap table tr td:FIRST-CHILD{
		padding:5px;
		padding-left: 20px; 
		
	}
	#info_wrap table tr td:LAST-CHILD{
		padding:5px;
		padding-right: 20px;
	}
	#info_wrap table tr:FIRST-CHILD td:FIRST-CHILD #title{
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		margin-left:15px;
		border-bottom:1px solid white;
	}
	#info_wrap table tr .charge{
		text-align: right;
	}
	#info_wrap table #last_td,#info_wrap table #last{
		padding-bottom: 20px;
		color:#CE3636;
		font-size: 16px;
		font-weight: bold;
	}
	a#back img, a#next img{
		width:10px;
	}
	a#back{
		position: absolute;
		left: -40px;
		top:90px;
	}
	a#next{
		position: absolute;
		right: 20px;
		top:90px;
	}
}
@media all and (max-width:767px){
	#read_wrap{
		width:320;
		margin:0 auto;
		height:680px;
		position: relative;
	}
	#read_wrap > h1{
		position: absolute;
		left: 30px;
		top:10px;
		color:gray;
	}
	#read_wrap img{
		width:280px;
		position: absolute;
		left: 10%;
		top:100px;
	}
	#info_wrap{
		width:70%;
		margin-left:10%;
		height: 260px;
		position:absolute;
		top:280px;
		font-size: 14px;
	}
	#info_wrap table{
		border-collapse: collapse;
		width:320px;
		background-color: #3A3A3A;
		color:white;
	}
	#info_wrap table tr td:FIRST-CHILD{
		padding:5px;
		padding-left: 20px; 
		
	}
	#info_wrap table tr td:LAST-CHILD{
		padding:5px;
		padding-right: 20px;
	}
	#info_wrap table tr:FIRST-CHILD td:FIRST-CHILD #title{
		font-size: 18px;
		font-weight: bold;
		padding-top: 20px;
		margin-left:15px;
		border-bottom:1px solid white;
	}
	#info_wrap table tr .charge{
		text-align: right;
	}
	#info_wrap table #last_td,#info_wrap table #last{
		padding-bottom: 20px;
		color:#CE3636;
		font-size: 16px;
		font-weight: bold;
	}
	a#back img, a#next img{
		width:10px;
	}
	a#back{
		position: absolute;
		left: 10px;
		top:130px;
	}
	a#next{
		position: absolute;
		right: 50px;
		top:130px;
	}
}	