@CHARSET "UTF-8";

/*home 반응형 css*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');
@media all and (max-width:767px){
	*{
		margin:0;
		padding: 0;
		font-family: 'Noto Sans KR','Roboto', sans-serif;
	}
	#container{
		width:100%;
	}
	header{
		width:100%;
		height: 70px;
		background-color: #3a3a3a;
	}
	/* 로고 */
	header #logo{
		position: absolute;
		top:5px;
		left: 50px;
		font-size: 25px;
	}
	header #logo a{
		color:white;
		text-decoration: none;
	}
	header #logo_sub{
		display: none;
	}
	/* 반응형 모바일 메뉴 */
	header #menu_img{
		display:block;
		width:30px;
		height: 30px;
		position: absolute;
		top:10px;
		left:10px;
	}
	/* 로그인 전 메뉴 */
	header #main{
		width:70%;
		position: absolute;
		top:35px;
		left: 5px;
		margin-left:30%;
	}
	header #main a{
		width:70px;
		float:left;
		text-align: right;
		color:white;
		line-height: 40px;
		text-decoration: none;
		font-size: 12px;
	}
	/* 관리자 로그인 후 메뉴 */
	#menu{
		display: block;
	}
	#menu ul{
		width:100%;
		height:100%;
		position: absolute;
		top:70px;
		background-color: rgba(0,0,0,0.7);
		z-index:100;
	}
	#menu ul li{
		width:100%;
		line-height: 40px;
		border-bottom: 1px solid #999999;
		text-align: center;
		float: left;
	}
	#menu ul li a{
		color:white;
		line-height: 40px;
		text-decoration: none;
		font-size: 12px;
	}
	/* section */
	section{
		width:100%;
		text-align: center;
		position: relative;
	}
	section #session_home{
		width:100%;
		text-align: center;
	}
	section img{
		float: left;
		z-index: 0;
	}
	section #info_img, #procedure, #car_main{
		display: none;
	}
	section #session_home #main_img{
		width:100%;
	}
	section #session_home h1{
		display: none;
	}
	section #session_home #jeju_img{
		width:100%;
	}
	/* footer*/
	footer{
		width:100%;
		height: 200px;
		clear:both;
		background-color: #3A3A3A; 
	}
	#footer_wrap{
		width:90%;
		margin: 0 auto;
		color:white;
		font-size: 14px;
	}
	#footer_wrap #copyright{
		height: 100px;
		border-bottom: 1px solid white;
		position: relative;
	}
	#footer_wrap #copyright article{
		width:100px;
		float: left;
		text-align: right;
	}
	#footer_wrap #copyright article:FIRST-CHILD{
		position: absolute;
		left: 30px;
		bottom: 20px;
	}
	#footer_wrap #copyright article:LAST-CHILD{
		position: absolute;
		right: 30px;
		bottom: 20px;
	}
	#footer_wrap #copyright article a{
		width:100px;
		text-align:right;
		float:left;
		height: 25px;
		line-height: 25px;
		color:white;
		font-size: 12px;
		text-decoration: none;
	}
	#footer_wrap #footer_img_wrap{
		text-align: center;
		padding: 10px;
	}
	#footer_img_wrap img{
		width:25px;
		margin: 3px;
	}
}