@CHARSET "UTF-8";
@import
	url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');
	
	*{
		font-family: 'Noto Sans KR', sans-serif;
	}
	
#All{
	width: 1000px;
	margin: 10px auto;
	padding: 10px;
}

#detail table{
	border-collapse:collapse; 
	margin: 10px auto;

}
#detail h3{
	text-align: center;
	color: #555;
}
th{
	padding:10px;
	border: 1px solid #555;
}
 td{
	 padding:10px;
	border: 1px solid #555;
}

#btnWrap{
	margin: 25px;
	text-align:center;
}

#btnWrap a{
	padding: 5px;
	padding-left:25px;
	padding-right:25px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius:3px; 
	text-decoration: none;
	margin: 10px;
	color: #555;
}

#btnWrap a:HOVER {
	font-weight: bold;
}