@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');
	/* section */
	section{
		width:1178px;
		border:1px solid #cccccc;
		padding:10px;
		overflow: hidden;
	}
	#form{
		overflow: hidden;
	}
	#form h1{
		text-align: center;
		font-weight: lighter;
	}

	#form h5{
		color: #aaa;
		font-weight: lighter;
		margin: 10px;	
		text-align: center;
	}
	fieldset {
		width:650px;
		margin: 0 auto;
		border:1px solid #aaa;
	}
	p{
		margin: 10px;
	}
	input{
		margin: 5px;
	}
	#send{
		text-align: center;
	}
	 label{
    	float: left;
		text-align: center;
		width: 100px;
		margin: 0 auto;
   }
   select{
   	margin: 5px;
   }
   .error, .error2{
      color:red;
      font-size: 12px;
      display:none;      
   }

