@CHARSET "UTF-8";

@import
	url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');

#wrap_wrap {
	margin: 10px auto;
	/* text-align: center; */
}

#wrap_wrap a {
	text-decoration: none;
	color: black;
	padding: 5px;
}

#wrap_wrap a:HOVER {
	color: #555;
	font-weight: bold;
}
#desc{
	
	color: #555;
	
}
#title{
	font-weight: lighter;
	margin: 10px;
}

#wrap_wrap td img {
	width: 20px;
}
.btnAdd{
	margin: 15px;
	word-spacing: 5px;
		
}

#wrap_wrap table {
	border: 1px solid #CACACA;
	border-collapse: collapse;
	text-align: center;
	margin-top: 20px;
	margin-left: 50px;
	
}

#center table{
	width:1000px;
	margin: 20px auto;
	text-align: center;
	
}

#wrap_wrap th, td{
		border: 1px solid #efefef;
		color: #5D5D5D;
		text-align: center;
		padding:10px;
	}
	

td {
	
	/* border-bottom: 1px solid #aaa;*/
	font-size: 14px;
	
}

tr:FIRST-CHILD {
		font-weight: bold;
	}

tr:FIRST-CHILD th{
		background-color: #efefef;
	}



/* test */
/*  tr td {
	border: 1px solid red;
}  */