@CHARSET "UTF-8";

	/*카옵션Update, Modify css*/
	#upload_wrap, #modify_wrap{
		width:1000px; 
		height: 600px;
		margin:30px 120px;
	}
	#upload_wrap label, #modify_wrap label{
		width:150px;
		height: 50px;
		line-height: 50px;
		background-color: #4C4C4C;
		color:#F6F6F6;
		font-weight: bold;
		text-align: center;
		float: left;
	}
	#upload_wrap .textfield, #modify_wrap .textfield{
		width:246px;
		height: 46px;
		line-height: 46px;
	}
	#img_wrap{
		width:445px;
		height: 200px;
		margin-top: 80px;
	}
	#img_wrap img{
		width:400px;
		height: 200px;
	}
	#input_wrap{
		width:500px;
		margin: 0px auto;
	}
	#btn_wrap{
		clear:both;
		width:450px;
		text-align: center;
	}