@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
	
	*{
		font-family: 'Noto Sans KR', sans-serif;
	}
	
	div#rentStepOne_container{
		width: 1000px;
		margin: 20px auto;
		border: 2px solid pink;
	}