@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
	
	*{
		font-family: 'Noto Sans KR', sans-serif;
		color: #353535;
	}

	div#rentChkList_container{
		width: 1000px;
		margin: 30px auto;
		padding: 20px;
		border: 1px solid #ccc;
		overflow: hidden;
	}
	
	span#cstmName{
		font-weight: bold;
		font-size: 16px;
		padding-left: 10px;
	}
	
	img{
		width: 40px;
	}
	
	div#tit{
		border-left: 10px solid #CACACA;
		border-bottom: 1px solid #CACACA;
		height: 30px;
		line-height: 30px;
	}
	
	table{
		border: 1px solid #CACACA;
		border-collapse: collapse;
		width: 800px;
		margin-top: 20px;
		margin-left: 100px;
	}
	
	th, td{
		border: 1px solid #efefef;
		color: #5D5D5D;
		text-align: center;
		font-size: 15px;
	}
	
	td{
		height: 45px;
	}
	
	tr:FIRST-CHILD {
		font-weight: bold;
	}
	
	tr:FIRST-CHILD td{
		background-color: #efefef;
	}
	
	a{
		text-decoration: none;
		color: #5D5D5D;
	}
	
	a:hover{
		color: #f04040;
		text-decoration: underline;
	}
	
	/* 검색 */
	div#search{
		padding: 10px;
		border: 1px solid red;
		margin-top: 20px;
	}
	