@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
	
	*{
		font-family: 'Noto Sans KR', sans-serif;
	}
	
	ul{
		list-style: none;
	}
	
	div#rentStepTwo_container{
		width: 1000px;
		margin: 30px auto;
		padding: 10px;
		border: 1px solid #ccc;
		overflow: hidden;
	}
	
	div#leftWrap{
		width: 350px;
		height: 600px;
		float: left;
		margin: 10px 40px 5px 5px;
		display: inline-block;
	}
	
	div#rightWrap{
		display: inline-block;
		width: 590px;
		height: 600px;
		margin: 10px 5px 5px 5px;
		border-bottom: 1px solid #ccc;
	}
	
	div#dateInfo{
		border-top: 1px solid #efefef;
		border-left: 1px solid #efefef;
		border-right: 1px solid #efefef;
		padding: 5px;
		background-color: #efefef;
		text-align: center;
	}
	
	span#rentDate, span#returnDate{
		font-size: 15px;
		color: #5d5d5d;
		font-weight: bold;
	}
	
	span#and{
		color: #A6A6A6;
		font-size: 12px;
		font-weight: bold;
	}
	
	div#carInfo{
		border-left: 1px solid #efefef;
		border-right: 1px solid #efefef;
		border-bottom: 1px solid #efefef;
		padding: 5px;
	}
	
	div#carInfo > h3{
		color: #353535;
		padding: 5px 0 0 10px;
	}
	
	img.carImg{
		height: 100px;
		width: 200px;
	}
	
	div#carImg{
		padding: 15px 0 5px 70px;
	}
	
	p.notice{
		font-size: 13px;
		color: #8C8C8C;
		margin: 5px 0 0 0;
	}
	
	div#priceInfo{
		margin-top: 15px;
		padding: 10px;
		height: 280px;
		background-color: #313131;
		color: white;
		font-size: 17px;
	}
	
	span.price{
		font-size: 25px;
		font-weight: bold;
	}
	
	span#optionPrice, span#insurancePrice, span#discountPrice{
		font-size: 25px;      
		font-weight: bold;
	}
	
	span.won{
		font-size: 17px;
	}
	
	div.resPrice{
		display: inline;
		float: right;
		padding-right: 10px;
	}
	
	div#priceInfo ul li{
		height: 40px;
		line-height: 40px;
		margin-bottom: 15px;
	}
	
	span.tit{
		padding-left: 10px;
	}
	
	span#totalPrice{
		color: #f04040;
		font-weight: bold;
		font-size: 30px;
	}
	
	span#totalWon{
		font-size: 17px;
		color: #f04040;
	}
	
	div#tResult{
		float: right;
		display: inline;
		padding-right: 10px;
	}
	
	div#temp{
		border-top: 2px solid #949494;
		padding-top: 10px;
	}
	
	span#totalTit{
		padding-left: 20px;
	}
	
	div#rightWrap h3{
		color: #353535;
		padding-bottom: 5px;
		border-bottom: 1px solid gray;
	}
	
	div#event ul{
		padding: 10px 0;
	}
	
	div#event ul li{
		margin: 5px 0;
	}
	
	li#evtNotice{
		font-size: 13px;
		color: #f04040;
		padding: 5px 0;
	}
	
	div#insurance ul{
		padding: 10px 0;
	}
	
	div#insurance ul li{
		margin: 5px 0;
	}
	
	div#option ul{
		padding: 10px 0;
	}
	
	div#option ul li{
		margin: 5px 0;
	}
	
	label.titList{
		font-size: 15px;
		margin-left: 10px;
	}
	
	label.discountList{
		font-size: 15px;
		padding-right: 70px;
		margin-left: 10px;
	}
	
	select#selEvt{
		width: 150px;
		height: 30px;
		line-height: 30px;
	}
	
	h3#cdw, h3#opt{
		margin-top: 25px;
		color: #353535;
		padding-bottom: 5px;
		border-bottom: 1px solid gray;
	}
	
	a{
		text-decoration: none;
	}
	
	a#btnPrev, a#btnNext{
		color: white;
		font-size: 14px;
	}
	
	div#btnWrap{
		margin-top: 10px;
		margin-bottom: 20px;
		overflow: hidden;
		display: inline-block;
		width: 590px;
		padding-left: 620px;
	}
	
	div#nextWrap{
		background-color: #f04040;
	}
	
	div#nextWrap{
		width: 100px;
		height: 35px;
		line-height: 35px;
		text-align: center;
		margin-left: 10px;
		display: inline-block;
	}