@CHARSET "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR');
	
	*{
		font-family: 'Noto Sans KR', sans-serif;
	}
	
	/* 기간 선택 전체를 감싸는 div */
	div#date_container{
		margin: 20px auto;
		width: 1000px;
		overflow: hidden;
	}
	
	/* 대여일 선택 */
	div#choose_rent_start{
		float: left;
	}
	
	/* 반납일 선택 */
	div#choose_rent_end{
		float: left;
		margin-left: 50px;
	}
	
	input#start_date, input#end_date{
		width: 140px;
		height: 31px;
		padding: 10px;
		font-family: inherit;
		font-size: 16px;
	}
	
	/* 셀렉트 메뉴 */
	div.selectWrap, div.selectWrapMinute, div.selectWrap2, div.selectWrapMinute2{
		width: 100px;
		overflow: hidden;
		border: 1px solid #ccc;
		padding: 0px;
		margin: 0px;
		float: left;
	}
	
	div.defaultTitle, div.defaultTitleMinute, div.defaultTitle2, div.defaultTitleMinute2{
		width: 90px;
		float: left;
		height: 53px;
		line-height: 53px;
		padding-left: 10px;
	}
	
	div.selectWrap ul, div.selectWrap2 ul{
		margin: 0;
		padding: 5px;
		width: 90px;
		height: 140px;
		list-style: none;
		overflow: auto;
		border-top: 1px solid #ccc;
		display: none;
	}
	
	div.selectWrapMinute ul, div.selectWrapMinute2 ul{
		margin: 0;
		padding: 5px;
		width: 90px;
		height: 75px;
		list-style: none;
		overflow: auto;
		border-top: 1px solid #ccc;
		display: none;
	}
	
	div.selectWrap ul li, div.selectWrapMinute ul li, div.selectWrap2 ul li, div.selectWrapMinute2 ul li{
		background-color: none;
		width: 50%;
		padding: 5px 3px 8px 5px;
	}
	
	div.selectWrap ul li a, div.selectWrapMinute ul li a, div.selectWrap2 ul li a, div.selectWrapMinute2 ul li a{
		text-decoration: none;
		color: black;
	}
		
	div.selectWrap ul li a:hover, div.selectWrapMinute ul li a:hover, div.selectWrap2 ul li a:hover, div.selectWrapMinute2 ul li a:hover{
		color: red;
	}
	
	/* 총 대여시간 */
	div.dateTotalTimeWrap{
		width: 150px;
		height: 43px;
		line-height: 43px;
		padding: 5px 5px 5px 10px;
		margin-left: 40px;
		border: 1px solid #ccc;
		display: inline-block;
	}
	
	div.dateTotalTimeWrap span#diff{
		color: red;
		font-weight: bold;
	}
	
	button#calRentDate{
		display: block;
		margin: 10px 0;
		padding: 5px;
	}

	/* 차량 유형 선택 전체를 감싸는 div */
	div#cartype_container{
		margin: 20px auto;                   
		width: 1000px;    
		overflow: hidden;
	}
	
	/* 차량 유형 선택 탭 메뉴 */
	nav#tapMenu{
		width: 960px;
		height: 75px;    
		margin: 20px auto;                
	}
	
	nav#tapMenu ul{
		list-style: none;
	}
	
	nav#tapMenu ul li{
		display: inline;
		float: left;
		width: 158px;
		border: 1px solid #ccc;
		text-align: center;
		line-height: 75px;
		height: 75px;
	}
	
	nav#tapMenu ul li a{
		text-decoration: none;
		color: #353535;
		float: left;
		width: 158px;
		text-align: center;
		line-height: 75px;
		height: 75px;
		font-size: 14px;
		font-weight: bold;
		position: relative;
	}
	
	.carImg{
		width: 60px;
	}
	
	span.carType{
		position: absolute;
		top: 20px;
		left: 65px;
	}
	
	/* 버튼 영역 감싸는 부분 */
	div#btn_wrap{
		margin: 20px auto;
		padding: 5px;
		width: 1000px;
		overflow: hidden;
		text-align: center;
	}
	
	div#btn_wrap a#cancel{
		text-decoration: none;
		color: #353535;
		font-size: 18px;
		font-weight: bold;
		width: 150px;
		height: 50px;
		line-height: 50px;
	}
	
	div#cancelWrap{
		width: 150px;
		height: 50px;
		line-height: 50px;
		border: 1px solid #353535;
		display: inline-block;
	}
	
	#btnNext{
		width: 152px;
		height: 52px;
		background-color: #353535;
		color: white;
		font-weight: bold;
		font-size: 18px;
		line-height: 50px;
		border: none;
		margin-left: 10px;
	}