@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');

	/* section */
	section{
		width:1178px;
		border:1px solid #cccccc;
		padding:10px;
		overflow: hidden;
	}
	#result{
		text-align: center;
	}
	
	#result h3{
	font-weight: lighter;
	margin: 10px;
}
	#result span {
	color: red;
	font-weight: bold;
}
#result a{
	padding: 3px;
	padding-left:15px;
	padding-right:15px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius:3px; 
	font-size: 13px;
	text-decoration: none;
	color: #555;
	margin: 10px;
		
	}

#result a:HOVER {
	font-weight: bold;
}	



#btnHome{
	padding: 3px;
	padding-left:15px;
	padding-right:15px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius:3px; 
	font-size: 13px;
	color: #555;
	
}