@CHARSET "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto');

	/* section */
	section{
		width:1178px;
		border:1px solid #cccccc;
		padding:10px;
		overflow: hidden;
	}
	#result{
		text-align: center;
	}
	
	h3{
	font-weight: lighter;
	margin: 10px;
}
	span {
	color: red;
	font-weight: bold;
}
a{
		padding:10px;
		text-decoration: none;
		color: black;
		text-align: center;
		
	}
	
